
.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; /
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    margin-left: -8px;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height:200px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
	display: none;
}

.loader {
	width: 30px;
    height: auto;
}


/*buttons*/
.btn-flat-blue {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}
.btn-flat-blue:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-flat-danger {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  border-bottom: 2px solid #db4334;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #
}
.btn-flat-danger:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sm {
	width: 100px !important;
}
/*button end*/


/*table start*/


table {  
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; 
    text-align: center;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
    font-size: 15px;
    padding:5px;
}

td {  
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
    padding:8px;
    font-size: 13px;
}
.table-layout{
	position: relative;
	margin-left: 300px;
	margin-top: 100px;
	display: inline-block; 
	text-align: right;
}

.btn-wrapper-row{
	margin-bottom: 6px;
}
button {
	cursor: pointer;
}
/*table end*/


.image-wrapper{
	width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.image-wrapper img{
	width: 100px;
	height: auto;
}

input {
	padding: 5px;
    font-size: 14px;
    width: 200px;
}
#newThumbnail table {
	width: 100%;
}
#newThumbnail input {
	border: none;
    background: transparent;
    height: 15px;
    width: 95%;
}
#newThumbnail input:focus {
	border: #FAFAFA;
    background: #FAFAFA;
    outline: none;
}
.btn-lower{
	margin-top: 15px;
	width: 100%;
	position: relative;
}
.btn-lower button{
	display: inline-block;
    position: relative;
    margin-left: 5px;
    float: right;
}
    
/*input file*/


.confirm-dialog{
	height: 57px !important;
}

.error {
	color:red;
}